.App{
  text-align: center;
}
 .inputs{
  width: 80%;
 }
 .btn{
  color: black !important;
 }

 .about {
  color:rgb(255, 255, 255);
  width: 75%;
  /* border-right: 5px solid; */
  font-size: 15px !important;
  position: relative;
  left: 24%;
  text-align: start;
  
}
.img{
  position: relative;
  right: 30%;
  bottom:20%;
}
.img img{
  width: 100%;
}
hr{
  width: 40%;
  padding: 2px;
  background-color: rgb(255, 255, 255);
  position: relative;
  top: 36%;
  left: 15%;
}
.intro_container{
  width: 100%;
  height: 40vh;
  position: relative;
}
.txt_grid{
  color:lightskyblue;
  font-size: 20%;
  padding: 0px;
  position: relative;
  top: 36%;
  left: 26%;
}
.about_grid {
  /* background-color: lightcoral; */
  position: relative;
  top: 24%;
  padding: 10px;
  left: 9%;
  border-right: 5px solid rgb(29, 202, 255);
}
.btn_grid{
  /* background-color: aqua; */
  position: relative;
  top: 30%;
  left: 23%;
}
.btn_grid Button{
  /* background-color: rgb(83, 83, 83); */
  color: white !important;
  padding: 13px 30px;
  border: 3px solid white !important;
}
span{
  position: relative;
  right: 22%;
  
  color: white;
}
.picon,.sicon{
 color: white ;
 padding: 5px;
}
.input{
  color: rgb(255, 255, 255) !important;
  border-bottom:4px white solid !important;
}